main {
  max-width: var(--content-max);
  margin: 0 auto;
  width: 100%;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: 64rem) {
  main:has(.home-page__container) {
    max-width: var(--content-max-wide);
  }
  main:has(.page__container) {
    max-width: var(--content-max-wide);
  }
}
